<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>会員情報編集</h2><br>
  </div>
</div>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
<%= form_for(@user, url: admins_user_path) do |f| %>

<table class="table">
  <tr>
    <th><%= f.label :会員ID %></th>
    <td><%= f.text_field :id  , class:"form-control"%></td>
  </tr>

  <tr>
    <th><%= f.label :氏名 %></th>
    <td><%= f.text_field :name, class:"form-control" %></td>
  </tr>

  <tr>
    <th><%= f.label :メールアドレス %></th>
    <td><%= f.text_field :email , class:"form-control"%></td>
  </tr>

  <tr>
    <th><%= f.label :会員ステータス %></th>
    <td><%= f.select :is_users_status, [["有効会員","true"], ["退会済み","false"]], class:"form-control" %></td>
  </tr>
</table>

      <%= f.submit "変更を保存する" ,class: "btn btn-success " %>
<% end %>
 </div>
</div>
