<div class="row">
  <div class="col-xs-4">
      <h2>場面1</h2><br>

      <!-- <div class="adminsjoke-new-form">

        -->
  </div>

      <br><br><br><br>
      <div class="col-xs-8">

        <br>
        <p style="font-size: 20px;">下記にボケの選択肢があります！ボタンを選択して次へを押してください！</p>
        <br>
        <%= form_with(model: @usersjoke ,url: users_jokes_date2_path(joke_book_id: @joke_book_id, genre_id: @genre_id, conto_page: @conto_page),method: :post, local: true) do |f| %>

        <%=f.hidden_field :introduction, value: @adminsjoke.last.introduction %>
        <p><%= @adminsjoke.last.introduction %></p>
        <br><br>

        <% @adminsjoke.each do |adminsjoke| %>


        <%=f.hidden_field :joke_book_id, value:@joke_book_id %>

        <div class="furi">


         <%=f.radio_button :users_joke, adminsjoke.funny_man + "," + adminsjoke.straight_man  %>
        <!-- モデル名であるadminsjokeをシンボルの書き方で、持って来ている。このadminsjokeはcontrollerの方でwhere構文で絞っている。ボケ、ツッコミをシンボルでそれぞれ行い、さらにそれをto.jsonでシンボル化している。
        ここで疑問なのは、{}でなぜ括る必要があるのかと、シンボルになっているのにわざわざもう一度.to_jsonする必要はあるのか。 -->

        <%=f.label :users_joke, "#{adminsjoke.funny_man} #{adminsjoke.straight_man}"%>
        <!-- ここが"#{}"で書く必要があるのか分からない -->
        </div>



        <% end %>
        <%= f.submit"次へ" %>
        <% end %>

      </div>
</div>
