<div class="row">
  <div class="col-xs-4">
      <h2>場面1</h2><br>

      <!-- <div class="adminsjoke-new-form">

        -->
  </div>

      <br><br><br><br>
      <div class="col-xs-8">

        <br>
        <p style="font-size: 20px;">下記にボケの選択肢があります！ボタンを選択して次へを押してください！</p>
        <br>
        <%= form_with(model: @usersjoke ,url: users_jokes_joke_middle_path(joke_book_id: @joke_book_id, genre_id: @genre_id, conto_page: @conto_page),method: :post, local: true) do |f| %>

        <%=f.hidden_field :introduction, value: @adminsjoke.last.introduction %>
        <p style="font-size: 20px;"><%= @adminsjoke.last.introduction %></p>
        <br><br>

        <% @adminsjoke.each_with_index do |adminsjoke, index| %>


        <%=f.hidden_field :joke_book_id, value:@joke_book_id %>

        <div class="joke_select">


         <%=f.radio_button :users_joke, adminsjoke.funny_man + "," + adminsjoke.straight_man,id:"users_joke_#{index}" %>

        <p style="font-size: 20px;"><%=f.label :users_joke,"#{adminsjoke.funny_man}<br>#{adminsjoke.straight_man}".html_safe,for:"users_joke_#{index}"%>
      </div></p>
        <br><br><br><br><br>


        <% end %>
        <%= f.submit('次へ',class: 'btn btn-primary btn-lg btn-block')%>
        <% end %>

      </div>
</div>
