<div class="row">
  <div class="col-xs-12">
    <h2>ボケ・ツッコミ編集</h2><br>
  </div>
</div>

<div class="row">
  <div class="col-xs-4">
    <%= form_for(@admins_joke, url: admins_admins_joke_path) do |f| %>
    <div class="boke_tukkomi-new-form">
       <img src="/assets/DSC_1170-1.jpg" width="320" height="220">
    </div>
  </div>

  <div class="col-xs-8">
      <table class="new-form-table">
        <tbody>

          <tr>
            <th>フリ</th>
            <td><%= f.text_field :introduction, class: "form-control" %></td>
          </tr>

          <tr>
            <th>ボケ</th>
            <td><%= f.text_field :funny_man, class: "form-control" %></td>
          </tr>

          <tr>
            <th>ツッコミ</th>
            <td><%= f.text_field :straight_man, class: "form-control" %></td>
          </tr>

          <tr>
            <th>ページ</th>
            <td><%= f.text_field :page, class: "form-control" %></td>
          </tr>

        </tbody>
      </table>

      <div class="text-right">
      <%= f.submit "更新" ,class: "btn btn-primary text-right" %>
      </div>
      <% end %>

  </div>
</div>
