<div class="row">
  <div class="col-xs-4">
      <h2>場面７</h2><br>

      <br>
      <div class="boke_tukkomi-new-form">

      </div>
  </div>

      <br><br><br><br>
      <div class="col-xs-8">
        <br>
        <p>下記にボケの選択肢があります！ボタンを選択して次へを押してください！</p>
        <br><br>

        <%= form_with(model: @userboketukkomi ,url: users_user_boke_tukkomis_date8_path(script_id: @script_id, genre_id: @genre_id),method: :post, local: true) do |f| %>

        <%=f.hidden_field :furi, value: @boke_tukkomis.last.furi %>
        <p><%= @boke_tukkomis.last.furi %></p>
        <br><br>

        <% @boke_tukkomis.each do |boke_tukkomi| %>

        <%=f.hidden_field :script_id, value:@script_id %>

        <div class="boke">
         <%=f.radio_button :user_boke_tukkomi, boke_tukkomi.boke + "," + boke_tukkomi.tukkomi %>

        <%=f.label :boke_tukkomi, "#{boke_tukkomi.boke} #{boke_tukkomi.tukkomi}"%>
        <!-- ここが"#{}"で書く必要があるのか分からない -->
        </div>



        <% end %>
        <%= f.submit"選択" %>
        <% end %>
      </div>

      <br><br>
      <div class="row">
        <div class="col-xs-4">
        </div>


        <div class="col-xs-8">

        </div>
      </div>
</div>
