
<div class="row">
  <div class="col-xs-12">
      <h2>ボケ・ツッコミ詳細</h2><br>
  </div>
</div>

<div class="row">
    <div class="col-xs-4">
      <div class="boke_tukkomi-new-form">
        <img src="/assets/8cbafb69adb00b088d37d3a1f673deba.jpg" width="320" height="220">
      </div>
    </div>

      <div class="col-xs-8">
        <table class="table">
          <tbody>
            <tr>
              <td>題材名</td>
              <td><%= @joke_templete.genre.name %></td>
            </tr>

            <tr>
              <td>ジャンル</td>
              <td><%= @joke_templete.genre.category %></td>
            </tr>

            <tr>
              <td>フリ</td>
              <td><%= @joke_templete.introduction %></td>
            </tr>

            <tr>
              <td>ボケ</td>
              <td><%= @joke_templete.funny_man %></td>
            </tr>

            <tr>
              <td>ツッコミ</td>
              <td><%= @joke_templete.straight_man %></td>
            </tr>

            <tr>
              <td>ページ</td>
              <td><%= @joke_templete.page %></td>
            </tr>

          </tbody>
        </table>
        <div class="col-xs-offset-1 col-
          xs-2 text-right">
          <%= link_to "編集する", edit_admins_joke_templete_path(@joke_templete), class: "btn btn-primary" %>
        </div>
      </div>
</div>
