<div class="pull-right" style="text-align: right;">
	<%= search_form_for(@search, url:admins_plan_path) do |f| %>
		<%= f.label :setting, "キーワード" %>
		<%= f.search_field :setting_cont %>
		<%= f.submit %>
	<% end %>
</div>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1">

    <h2>シーン選択画面</h2><br>

  </div>

  <br>
    <!-- ofsetは左右の余白 -->
    <table class="table genre-index">
      <thead>
        <tr>
          <th>ジャンル</th>
          <th>設定</th>
        </tr>
      </thead>

      <tbody>

        <% @genres.each do |genre| %>
        <% if genre.is_genres_status == true %>
          <tr>
            <td><%= genre.name %></td>

            <td><%= link_to genre.setting,admins_boke_tukkomis_path %></td>

          </tr>
          <% end %>
          <% end %>
          <%= paginate @genres %>
      </tbody>
    </table>
</div>
</div>
