
<div class="pull-right" style="text-align: right;">
	<%= search_form_for(@search, url:admins_boke_tukkomis_path) do |f| %>
		<%= f.label :boke, "キーワード" %>
		<%= f.search_field :boke_cont %>
		<%= f.submit %>
	<% end %>
</div>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
      <h2>ボケ・ツッコミ一覧</h2>

  <div class="text-right">
      <%= link_to "新規登録" ,new_admins_boke_tukkomi_path, class:"btn btn-lg btn-primary" %>
  </div>

      <!-- ofsetは左右の余白 -->
      <table class="table">
        <thead>
          <tr>
            <th>ストーリーID</th>
            <th>ストーリー名</th>
						<th>フリ</th>
            <th>ボケ</th>
            <th>ツッコミ</th>
            <th>ページ</th>
          </tr>
        </thead>

        <tbody>
          <% @boke_tukkomis.each do |boke_tukkomi| %>
					<% if @genre.setting == boke_tukkomi.genre.setting %>
            <tr>
              <td><%= link_to boke_tukkomi.id,admins_path(boke_tukkomi) %></td>
              <td><%= boke_tukkomi.genre.setting %></td>
							<td><%= boke_tukkomi.furi %></td>
              <td><%= boke_tukkomi.boke %></td>
              <td><%= boke_tukkomi.tukkomi %></td>
              <td><%= boke_tukkomi.page %></td>
            </tr>
            <% end %>
						<% end %>
            <%= paginate @boke_tukkomis %>
        </tbody>
      </table>
    </div>
  </div>
