
<div class="row">
  <div class="col-xs-4">
      <h2>ボケ・ツッコミ詳細</h2><br>

      <br>
      <div class="boke_tukkomi-new-form">
        <img src="/assets/8cbafb69adb00b088d37d3a1f673deba.jpg" width="320" height="220">
      </div>
  </div>

      <br><br><br><br>
      <div class="col-xs-8">
        <table class="table">
          <tbody>
            <tr>
              <td>題材名</td>
              <td><%= @boke_tukkomi.name %></td>
            </tr>

            <tr>
              <td>ジャンル</td>
              <td><%= @boke_tukkomi.genre.name %></td>
            </tr>

            <tr>
              <td>ボケ</td>
              <td><%= @boke_tukkomi.boke %></td>
            </tr>

            <tr>
              <td>ツッコミ</td>
              <td><%= @boke_tukkomi.tukkomi %></td>
            </tr>

            <tr>
              <td>ページ</td>
              <td><%= @boke_tukkomi.page %></td>
            </tr>

          </tbody>
        </table>
        <div class="col-md-offset-1 col-
          md-2 text-right">
          <%= link_to "編集する", edit_admins_boke_tukkomi_path(@boke_tukkomi), class: "btn btn-primary" %>
        </div>
      </div>
