<%= form_for @inquiry, :url => inquiry_path do |f| %>
  <div class="page-header">
    <h1>お問い合わせ</h1>
  </div>

  <table class="table">
    <tr>
      <td>名前</td>
      <td><%= current_user.name %></td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td><%= current_user.email %></td>
    </tr>
    <tr>
      <td><%= f.label :お問い合わせ内容 %></td>
      <td><%= f.text_area :message,:size => "40x10" %></td>
    </tr>
    <td></td>
    <td>  <%= f.submit '確認', class: 'btn btn-primary' %></td>
  </tr>
  </table>
<% end %>
