<header>
  <div class="container">
    <nav class="nav navbar-nav navbar-left">
      <h1 class="sample"></h1>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right" style="margin-top: 30px;">
        <% if user_signed_in? %>

          <!--カスタマーがログインしている時 -->
          <li style="font-family: HiraMinPro-W6; margin-top: 15px;">
            ようこそ、<%= current_user.last_name + current_user.first_name %>さん！
          </li>

          <li><%= link_to "マイページ", users_show_path, style: "font-family: HiraMinPro-W6; color: #000000;" %></li>
          <li style="font-family: Osaka; margin-top: 15px; color: #696969;">|</li>

          <li><%= link_to "題材一覧", users_user_boke_tukkomis_path, style: "font-family: HiraMinPro-W6; color: #000000;" %></li>
          <li style="font-family: Osaka; margin-top: 15px; color: #696969;">|</li>

          <li><%= link_to "ネタ一覧", users_scripts_path, style: "font-family: HiraMinPro-W6; color: #000000;" %></li>
          <li style="font-family: Osaka; margin-top: 15px; color: #696969;">|</li>

          <li><%= link_to "About", users_about_path, style: "font-family: HiraMinPro-W6; color: #000000;" %></li>
          <li style="font-family: Osaka; margin-top: 15px; color: #696969;">|</li>

          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, style: "font-family: HiraMinPro-W6; color: #000000;" %></li>


        <% elsif admin_signed_in? %>

          <!-- 管理者がログインしている時 -->
          <li><%= link_to "ボケ・ツッコミ一覧", admins_plan_path, style: "font-family: HiraMinPro-W6; color: #000000;" %></li>
          <li style="font-family: Osaka; margin-top: 15px; color: #696969;">|</li>

          <li><%= link_to "会員一覧", admins_users_path, style: "font-family: HiraMinPro-W6; color: #000000;" %></li>
          <li style="font-family: Osaka; margin-top: 15px; color: #696969;">|</li>

          <li><%= link_to "ジャンル一覧", admins_genres_path, style: "font-family: HiraMinPro-W6; color: #000000;" %></li>
          <li style="font-family: Osaka; margin-top: 15px; color: #696969;">|</li>

          <li><%= link_to "About", users_about_path, style: "font-family: HiraMinPro-W6; color: #000000;" %></li>

          <li style="font-family: Osaka; margin-top: 15px; color: #696969;">|</li>
          <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>

        <% else %>
          <!-- ログインしていない時 -->
          <li><%= link_to "新規登録", new_user_registration_path, style: "font-family: HiraMinPro-W6; color: #000000;" %></li>
          <li style="font-family: Osaka; margin-top: 15px; color: #696969;">|</li>

          <li><%= link_to "ログイン", new_user_session_path, style: "font-family: HiraMinPro-W6; color: #000000;" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
